<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <!-- my link -->
    <!-- css -->
    <link rel="stylesheet" href="./style/style.css">
    
    <!-- main js -->
    <script type="text/javascript" src="./main.js" defer></script>

    <!-- cdn Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/></svg>
    
    <!-- cdn Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <!-- cdn Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">

        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h1>{{ titleApp }}</h1>
                    
                    <!-- lista toDo -->
                    <div class="card p-2" :class="item.done ? 'text-decoration-line-through' : '' " v-for="item of list" @click="toDoItem()">
                        {{ item.text }}
                        <i class="bi bi-x-circle"></i>
                    </div>

                    <div class="input-group mt-3">
                        <input type="text" class="form-control" placeholder="inserisci novo toDo" v-model="newToDo.text">
                        <button class="btn btn-success">Aggiungi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- step 1 impostare il frontend per fare la chiamata -->
<!-- step 2 gestire la chiamata e realizzo la risposta -->
<!-- step 3 torno al frontend prendo la risposta e la restituisco -->
</html>